// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
$primary: #2b0427;
$secondary: #b33aa6;
$third:#742165;

//responsive 
$xl: 1440px;
$lg: 992px;
$md: 768px;
$sm: 576px;


body{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.25;
    background: #f1daef;
}

//navigation
#wrapper-navbar{
    .top-header-holder{
        height:200px;
        background:white;
        padding-top: 50px;
        padding-bottom: 50px;
        .container{
            
                .logo-name-holder{
                    .logo-name{
                    font-size: 60px;
                    font-weight: 600;
                    }
                }
                .social-media{
                    font-size: 25px;
                    a{
                        color: $secondary;
                        text-decoration: none;
                        &:hover{
                            color: $third;
                        }
                    }
                }
                }
        
    }
  
    

    #main-nav{
      
        padding:2px;
        ul{
            flex:1;
            justify-content: space-around;
            li{
                a{
                    font-weight:600;
                    font-size:22px;
                    text-transform: uppercase;
                    padding:1.2em 0.5em;
                    @media (max-width:$xl){
                        font-size: 20px;
                        padding:1em 0.33em;
                    }
                 
                    }
                
                &.current_page_item{
                    a{
                        color:$secondary;
                    }
            }

           
            }
        }
    }

/*background
.home-banner{
    height: 18px;
    background: rgb(240, 197, 240);
    background-image:url(../img/podloga_roditelji.jpg);
    background-size: cover;
}*/

.new-articles{
    .first-news{
        margin-top: 20px;
        border-radius: 50%;
        background: $third;
        padding-bottom: 100%;
        position: relative;
        display: block;

        .image{
            background-image: url(../img/hrana.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 5px;
            left: 5px;
            right:5px;
            bottom: 5px;
            border-radius: 50%;
            transition: ease 0.25s all;
        }

        
        .image2{
            background-image: url(../img/lifestyle.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 5px;
            left: 5px;
            right:5px;
            bottom: 5px;
            border-radius: 50%;
        }
        .image3{
            background-image: url(../img/roditelji.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            top: 5px;
            left: 5px;
            right:5px;
            bottom: 5px;
            border-radius: 50%;
        }

        .title{
            font-size: 20px;
            text-align: center;
            position: absolute;
            bottom: 45px;
            left: 50%;
            padding: 0.5em;
            background: $primary;
            color: white;
            border:1px solid dotted;
            border-radius: 0.25em;
        }
    }
}
}

.main-article{
    padding-top: 30px;
    h1{
        font-size: 35px;
        margin-left: 50px;
    }
}

.about{
    background-color: $primary;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    h4{
        font-size: 15px;
    }
}

.page-header{
    padding-top: 100px;
    padding-bottom: 50px;
    h1{
        font-size: 100px;
        color:$primary;
    }
}